<main>
    <div class="izquierda">
        <h1>{{ titulo }}</h1>
        <p>Nos enorgullece disfrutar del desafio de desarrollar soluciones de software a medida que permitan a nuestros
            clientes mejorar su presencia digital, alcanzar sus objetivos y crecer en la industria."</p>
        <button>Consulta gratis</button>
    </div>
    <div class="derecha">
        <img src="./../assets/unsplash_CPs2X8JYmS8.png" alt="Imagen de diseños" id="imagen1">
        <img src="./../assets/Elements.png" alt="elementos" id="elementos">
    </div>
</main>